<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="favicon" rel="shortcut icon" href="../assets/icon/favicon.ico">
    <title>Dicas | Ótica A Escler</title>

    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- CSS -->

    <link rel="stylesheet" href="../css/style.css">

</head>

<body>

    <!-- Nav -->

    <nav class="navbar navbar-light navbar-expand-md sticky-top menu-header">

        <div class="container-fluid">

            <a class="navbar-brand" href="./index.html"><img src="../assets/logo.gif"></a>

            <button class="navbar-toggler btn" style="color: rgb(160, 0, 0);" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <button class="btn">
                        <li class="nav-item">
                            <a class="nav-link text-center bold" style="color: rgb(160, 0, 0);" aria-current="page" href="./index.html">HOME</a>
                        </li>
                    </button>
                    <button class="btn">
                        <li class="navbar-light nav-item dropdown">
                            <a class="nav-link text-center dropdown-toggle bold" style="color: rgb(160, 0, 0);" href="#" id="navbarScrollingDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                PRODUTOS
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item text-center bold" style="color: rgb(160, 0, 0);" href="./masculino.html">MASCULINO</a></li>
                                <li><a class="dropdown-item text-center bold" style="color: rgb(160, 0, 0);" href="./feminino.html">FEMININO</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item text-center bold" style="color: rgb(160, 0, 0);" href="./infantil.html">INFANTIL</a></li>
                            </ul>
                        </li>
                    </button>
                    <button class="btn">
                        <li class="nav-item">
                            <a class="nav-link text-center bold active" style="color: rgb(160, 0, 0);" href="./dicas.html">DICAS</a>
                        </li>
                    </button>
                    <button class="btn">
                        <li class="nav-item">
                            <a class="nav-link text-center bold" style="color: rgb(160, 0, 0);" href="./contato.html">CONTATO</a>
                        </li>
                    </button>
                </ul>
            </div>

        </div>

    </nav>

    <!-- End nav -->

    <div class="container">

        <div class="justify-content-around my-5 formContainer">

            <h2 class="bold">Como cuidar dos seus óculos</h2>

            <ul class="">
                <li class="py-3">
                    Lavar sempre com detergente neutro, água corrente fria e secar com papel macio.
                    Quando não for possível este processo de limpeza, utilize os lenços em microfibra específicos para
                    remoção de impurezas de suas lentes sem danificá-las.
                </li>
                <li class="py-3">
                    Utilize as duas mãos para retirá-los do rosto para não danificar a armação.
                </li>
                <li class="py-3">
                    Não dispense o uso de estojos apropriados para acondicioná-los.
                </li>
                <li class="py-3">
                    Evite a exposição ao calor excessivo como sauna, água quente, porta-luva de carros e etc.
                </li>
                <li class="py-3">
                    É indicado trazer seus óculos a cada três meses para ajustes e manutenção.
                </li>
                <li class="py-3">
                    Produtos químicos, como os usados em salões de beleza podem danificar os seus óculos. Quando for ao
                    salão, retire e guarde-os antes de iniciar o procedimento.
                </li>
            </ul>

            <p><strong>Seguindo essas dicas, você terá o seu óculos em perfeita condição de uso por muito mais tempo.</strong></p>

        </div>

        <div class="container">
                <div class="card bg-dark text-white my-5">
                    <img src="../assets/homem3.jpg" class="card-img" style="height: 60vh;">
                </div>
        </div>

    </div>

    <!-- Footer -->

    <footer>


        <nav class="navbar navbar-dark mt-5 py-5">
            <div class="container">

                <div class="d-sm-flex navbar-nav">
                    <a class="nav-link text-center" href="./index.html">HOME</a>
                </div>

                <div>
                    <ul class="d-sm-flex navbar-nav list-group-horizontal">
                        <li class="nav-item mx-2">
                            <a class="nav-link text-center" href="./masculino.html">MASCULINO</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-center" href="./feminino.html">FEMININO</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-center" href="./dicas.html">DICAS</a>
                        </li>
                    </ul>
                </div>

                <div class="d-md-flex align-items-center">
                    <!-- <span>MIDIAS SOCIAIS</span> -->
                    <ul class="list-group list-group-horizontal list-ms">
                        <li><a class="nav-link" href="#"><img class="icon-ms" src="../assets/icon/facebook.png"></a>
                        </li>
                        <li><a class="nav-link" href="#"><img class="icon-ms" src="../assets/icon/insta.png"></a></li>
                    </ul>

                </div>
            </div>
        </nav>


    </footer>

    <!-- End footer -->

    <!-- Whatsapp -->

    <a href="https://api.whatsapp.com/send?phone=+5511947486495" target="_blank">
        <div id="whatasapp">
            <img src="https://i.imgur.com/56kfhje.png" alt="Fale Whatsapp">
        </div>
    </a>

    <!-- End whatsapp -->

    <!-- Desenvolvedor - Alex Martins 
    https://www.linkedin.com/in/dev-alexmartins/ -->

    <div id="copyright" class="text-center my-3">
        <small class="bold">© 2021 - Ótica A Escler - Todos os direitos reservados</small>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>